
/* Site fixes */

.game-usps {
    display: none !important;
}

.page {
    padding: 0 !important;
}

.interstitial {
    display: none !important;
}

/* FGuess Cheat */

#fguess_overlay {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;

    z-index: 9999999;
}

#fguess_geo {
    position: absolute;

    top: 60px;
    right: 20px;

    height: 20px;
    max-height: 320px;
    width: 400px;

    overflow: hidden;

    background-color: rgba(230, 230, 230, 0.8);

    pointer-events: auto;

    transition: 0.3s;
}


#fguess_toggle {
    position: absolute;

    top: 60px;
    right: 20px;

    width: 400px;
    height: 20px;

    font-size: 14px;
    text-align: center;

    color: white;
    background-color: rgb(35, 36, 36);

    transition: 0.3s;

    z-index: 99999999;
    
    pointer-events: auto;
}

#fguess_toggle:hover {
    background-color: rgb(55, 56, 56);
}
