<div id="fguess_overlay">
    <h2 style="position: absolute; top: 60px; left: 10px; opacity: 0.4; ">TGuess Cheat<p style="font-size: 12px; margin: 0;">Made by Fudo Tsukiko</p></h2>

    <div id="fguess_geo"></div>

    <a href="#" id="fguess_toggle" closed="1">Toggle result</a>
</div>